.statisticCard {
  padding: 10px;
  height: 100%;
  .small {
    font-size: 11px;
  }
  .detail {
    margin-top: 14px;
    .up {
      color: #008000;
    }
    .down {
      color: #ff0000;
    }
  }
}
